.exercise2 {
  display: flex;
  padding: 100px;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.red-button {
  padding: 20px 40px;
  color: crimson;
  border-radius: 40px;
  border: 0;
  margin: 10px;
  text-transform: uppercase;
  background: none;
  box-shadow: inset 0 0 0 3px crimson;
  cursor: pointer;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
   100% {
     transform: scale(1.5);
     margin: 100px;
  }

}

.red-button:hover {

  animation-play-state: paused;

}


.blue-button {
  padding: 20px 40px;
  background: dodgerblue;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

@keyframes dance {
  100% {
    transform: translate(10%, 10%);
  }
}

.blue-button:hover {
  animation: dance 0.2s infinite alternate;
}


.green-button {
  padding: 20px 40px;
  background: #2FEB73;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

@keyframes matrix {
  100% {
    transform: matrix(1.00,0.00,0.00,4.00,5,0);
  }
}

.green-button:hover {
  animation: matrix 1s alternate;
  margin: 100px;

}