.exercise1 {
  display: flex;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-grow: 1;
}

.test1 {
  background: #FF6347;
}

.loading1 {
  border: 1px solid white;
  width: 30px;
  height: 60px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}
@-webkit-keyframes swim {
  50% {
    padding-top: 0.5em;
  }
  100% {
    margin-top: 2.5em;
  }
}
@keyframes swim {
  50% {
    padding-top: 0.5em;
  }
  100% {
    margin-top: 2.5em;
  }
}
.loading1:before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  top: 0;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: swim 0.5s 0s infinite alternate ease-in-out;
          animation: swim 0.5s 0s infinite alternate ease-in-out;
}

.test2 {
  background: #9370DB;
}

.loading2 {
  border: 3px solid rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation: rotate 0.5s infinite linear;
          animation: rotate 0.5s infinite linear;
  border-bottom-color: white;
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.test3 {
  background: #00FA9A;
}

@-webkit-keyframes cut {
  100% {
    height: 5px;
  }
}

@keyframes cut {
  100% {
    height: 5px;
  }
}
.loading3 {
  display: flex;
  align-items: center;
}
.loading3 span {
  width: 5px;
  height: 50px;
  margin: 2px;
  background-color: white;
  display: block;
}
.loading3 span:nth-child(1) {
  -webkit-animation: cut 0.5s 0.1s infinite linear alternate;
          animation: cut 0.5s 0.1s infinite linear alternate;
}
.loading3 span:nth-child(2) {
  -webkit-animation: cut 0.5s 0.2s infinite linear alternate;
          animation: cut 0.5s 0.2s infinite linear alternate;
}
.loading3 span:nth-child(3) {
  -webkit-animation: cut 0.5s 0.3s infinite linear alternate;
          animation: cut 0.5s 0.3s infinite linear alternate;
}
.loading3 span:nth-child(4) {
  -webkit-animation: cut 0.5s 0.4s infinite linear alternate;
          animation: cut 0.5s 0.4s infinite linear alternate;
}
.loading3 span:nth-child(5) {
  -webkit-animation: cut 0.5s 0.5s infinite linear alternate;
          animation: cut 0.5s 0.5s infinite linear alternate;
}

.exercise2 {
  display: flex;
  padding: 100px;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.red-button {
  padding: 20px 40px;
  color: crimson;
  border-radius: 40px;
  border: 0;
  margin: 10px;
  text-transform: uppercase;
  background: none;
  box-shadow: inset 0 0 0 3px crimson;
  cursor: pointer;
  -webkit-animation: pulse 1s infinite alternate;
          animation: pulse 1s infinite alternate;
}

@-webkit-keyframes pulse {
  100% {
    transform: scale(1.5);
    margin: 100px;
  }
}

@keyframes pulse {
  100% {
    transform: scale(1.5);
    margin: 100px;
  }
}
.red-button:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.blue-button {
  padding: 20px 40px;
  background: dodgerblue;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

@-webkit-keyframes dance {
  100% {
    transform: translate(10%, 10%);
  }
}

@keyframes dance {
  100% {
    transform: translate(10%, 10%);
  }
}
.blue-button:hover {
  -webkit-animation: dance 0.2s infinite alternate;
          animation: dance 0.2s infinite alternate;
}

.green-button {
  padding: 20px 40px;
  background: #2FEB73;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

@-webkit-keyframes matrix {
  100% {
    transform: matrix(1, 0, 0, 4, 5, 0);
  }
}

@keyframes matrix {
  100% {
    transform: matrix(1, 0, 0, 4, 5, 0);
  }
}
.green-button:hover {
  -webkit-animation: matrix 1s alternate;
          animation: matrix 1s alternate;
  margin: 100px;
}

.portfolio-projects {
  background: #fafafa;
  padding: 100px 20px;
}
.portfolio-projects-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 800px) {
  .portfolio-projects-list {
    flex-wrap: wrap;
  }
}

.project {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px;
}
@media (max-width: 800px) {
  .project {
    width: 100%;
  }
}
.project-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
}
.project-img {
  width: 100%;
  display: block;
  transition: 1s;
}
.project-overflow {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgba(68, 68, 68, 0.6), rgba(68, 68, 68, 0.8));
}
.project-title {
  font-weight: bold;
  font-size: 16px;
}
.project-text {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=main.css.map */
